.contendor{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
  background-color: rgb(246, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  border-radius: 25px;
}
.div1-img{
  padding: 10px;
  width: 500px;
  height: 600px;
  

}

.div2 { 
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  justify-content: center;
  text-align: center;
}

.div-flex { 
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  justify-content: center;
  text-align: center;
}